@import url('http://fonts.cdnfonts.com/css/magneto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #CC5500;
    margin: 0;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: #CC5500;
}
header nav {
    margin: 7px 0;
    color:#CC5500;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items : center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: right;
}


nav { 
    display: block;
}
body {
    background-color: #CC5500;
     
}
.main {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 4rem;
    max-width: 100%;
    max-height:auto;
    padding: 10%;
    float: right;

    
}

.section-title {
    font-size: 60px;
    color: #ffffff;
    font-family: 'Magneto' , sans-serif;
    font-style: normal;
    font-weight: 700;
    float:inline-start;
    margin-top: 10px;
    margin-bottom: auto;
}

.profile-pic img {
    border-radius: 50%;
    display:flex;
    width: 400px;
    border: 1px solid #ffffff;
    margin-bottom: 20%;
}

.contact {
    padding: 60px;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    float:left;

}
.contact-form {
    background-color: #CC5500;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    width: 40%;
    margin: 3.5%;
    float: left;

}

.form-input {
    border : 1px solid #000000;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
}
.intro {
    padding-bottom: 20%;
    margin-right: 10%;
    margin-left: 5%;
}

.work {
    text-align: center;
}

.about-me {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    font-size: 40px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.about {
    margin-top: 10%;
}
.section-title {
    text-align: left;
}
.section-title  {
    text-align: right;
}
.content ul li a img{
   max-width: 30%;
   max-height: 15%;
}
/* Media Screen for Smaller Desktop screen */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size :20px;
    }
    .intro {
        text-align: left;
    }
    .img {
        justify-content: right;
    
    }
    .section-title {
        width: 80%;
    }
}