@import url('http://fonts.cdnfonts.com/css/magneto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #CC5500;
    margin: 0;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: #CC5500;
}
header nav {
    margin: 7px 0;
    color:#CC5500;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items : center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: right;
}


nav { 
    display: block;
}
body {
    background-color: #CC5500;
     
}

.section-title {
    font-size: 54px;
    color: #ffffff;
    font-family: 'Magneto' , sans-serif;
    font-style: normal;
    font-weight: 700;
}