.header {
    padding: 20px 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #CC5500;
    margin: 0;
}

.header nav {
    margin: 7px 0;
}

.nav { 
    display: block;
}
.body {
    background-color: #CC5500;
     
}